body{
    position: relative;
}

.img_container_2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 18%;
    left: 15%;
}

.img_container_2 article > img{
    position: relative;
}

aside img{
    margin-left: 50px;
    margin-top: 30px;
}

#card_logo{
    position: absolute;
    top: 0;
}

